@import "../../shared//styles/mixins.scss";

:host {
  flex-direction: column;
}

.result-container {
  @include flexCenterContainer;
  border-radius: $base-border-radius
}

p {
  font-size: 3rem;
  margin-top: 3vh;
}

.players-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  border-radius: $base-border-radius;
  background-color: $base-bg-color;
}

.player-manular-container {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.gaming-container {
  @include flexCenterContainer;
}
